---
import "../styles/app.scss";
import Layout from "../layouts/Layout.astro";
---

<Layout>
  <div class="contents">
    <h1>
      I imitated the wonderful site by 14islands | Creative design & technology studio. <br />
      I am implementing it by watching an explanatory video by Yuri Artiukh. <br />
      Thank you, Yuri Artiukh.
    </h1>
  </div>
  <div id="webgl"></div>
</Layout>

<script src="../scripts/app.js"></script>
